<div class="recover-container" *ngIf="!showUpdaterForm">
    <div class="title-seccion">
        <h3>Please Introduce your email</h3>
        <a routerLink="/login">
            I remembered my password
        </a>
    </div>
    <form class="recover-form" [formGroup]="recoverForm" (ngSubmit)="onSubmitRecover()">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input id="recover-email" type="email" matInput formControlName="email"/>
            <mat-error *ngIf="recoverForm.controls.email.errors?.['required']">required</mat-error>
            <mat-error *ngIf="recoverForm.controls.email.errors?.['email']">Should enter an email</mat-error>
        </mat-form-field>

        <button mat-raised-button type="submit">Sent Token</button>
    </form>
</div>

<div class="updater-container" *ngIf="showUpdaterForm">
    <div class="title-seccion">
        <h3>Recover your new Password</h3>
        <p>Don't forget to copy the token we sent to you email</p>
        <p>eyJhbGciOiJIUzI1NiIsInR5cCI6Ik........ this is only an example</p>
    </div>
    <form class="updater-form" [formGroup]="updaterForm" (ngSubmit)="onSubmitUpdater()">
        <mat-form-field>
            <mat-label>Email's token</mat-label>
            <input id="updater-token" matInput formControlName="token"/>
            <mat-error *ngIf="updaterForm.controls['token'].errors?.['required']">required</mat-error>
            <mat-error *ngIf="updaterForm.controls['token']?.errors?.['invalidToken']">the token is invalid</mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input id="updater-password" matInput type="password" formControlName="password"/>
            <mat-error *ngIf="updaterForm.controls['password'].errors?.['required']">required</mat-error>
            <mat-error *ngIf="updaterForm.controls['password']?.errors?.['minlength']">the password should have 8 characters at least</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input id="updater-confirm-password" matInput type="password" formControlName="confirmPassword"/>
            <mat-error *ngIf="updaterForm.controls['confirmPassword'].errors?.['required']">required</mat-error>
            <mat-error *ngIf="updaterForm.controls['confirmPassword']?.errors?.['minlength']">the password should have 8 characters at least</mat-error>
            <mat-error *ngIf="updaterForm.controls['confirmPassword']?.errors?.['passwordMismatch']">Passwords should be equals</mat-error>
        </mat-form-field>

        <button mat-raised-button type="submit">Update</button>
    </form>
</div>
