.header{
    padding-inline: 0.25rem;
    padding-top: 0.5rem;
    display: flex;
    

    .btn-logout {
        margin-left: auto;
        margin-right: 3rem;
        margin-top: 0.5rem;
    }
}

.body-container {
    padding: 1.5rem 4rem;
}